<h1><%= @basic.year %>年<%= @basic.month %>月</h1>
<div class="calendar">
  <div class="calendar-day">日曜日</div>
  <div class="calendar-day">月曜日</div>
  <div class="calendar-day">火曜日</div>
  <div class="calendar-day">水曜日</div>
  <div class="calendar-day">木曜日</div>
  <div class="calendar-day">金曜日</div>
  <div class="calendar-day">土曜日</div>
  <%-
    @value.each do |item|
      item.each do |hoge|
    # TODO Todoが複数あった場合の動作を考える
  -%>
  <div class="calendar-item">
    <div class="calendar-item-date"><%= hoge[:date] %></div>
    <div class="calendar-item-todo"><%= hoge[:todo] %></div>
  </div>
  <%-
      end
    end
  -%>
</div>