<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <h1>参加者一覧</h1>
    <ul>
      <%- User.all.each do |item| -%>
      <li><a href="/<%= item.id %>/edit"><%= item.name %></a></li>
      <%- end -%>
    </ul>
    <a href="/user_new.html.erb">追加</a>
  </body>
</html>