<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <h1>参加者一覧</h1>
    <table>
      <%- User.all.each do |item| -%>
      <tr>
        <th><%= item.name %></th>
        <td><a href="/<%= item.id %>/edit">編集</a></td>
        <td><a href="/<%= item.id %>/delete">削除</a></td>
      </tr>
      <%- end -%>
    </table>
    <a href="/user_new.html.erb">追加</a>
  </body>
</html>